params {
  subject_id            = null
  tumor_id              = null
  normal_id             = null

  tumor_bam             = null
  tumor_bai             = null
  normal_bam            = null
  normal_bai            = null

  wig_gc                = null
  wig_map               = null
  centromeres           = null
  panel_of_normals      = null

  // Pipeline configuration
  hmmcopy_chrs          = 'chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX'
  hmmcopy_bin_size      = 1_000_000
  ichorcna_genome_build = 'hg38'
  ichorcna_genome_style = 'UCSC'
  ichorcna_chrs         = '\'paste0(\"chr\", c(1:22, \"X\"))\''
  ichorcna_chrs_train   = '\'paste0(\"chr\", c(1:22))\''
  ichorcna_normal       = '\'c(0.5, 0.6, 0.7, 0.8, 0.9, 0.95)\''
  ichorcna_ploidy       = '\'c(2, 3)\''
}


process {
  withName: HMMCOPY_READCOUNTER {
    ext.args = "--window ${params.hmmcopy_bin_size} --chromosome ${params.hmmcopy_chrs}"
  }

  withName: ICHORCNA_RUN {
    ext.args = """
      --genomeBuild ${params.ichorcna_genome_build} \\
      --genomeStyle ${params.ichorcna_genome_style} \\
      --normal ${params.ichorcna_normal} \\
      --ploidy ${params.ichorcna_ploidy} \\
      --chrs ${params.ichorcna_chrs} \\
      --chrTrain ${params.ichorcna_chrs_train}
    """.trim()
  }
}
